.grid {
    display: grid;
}

.grid-col-2 {
    grid-template-columns: 1fr 1fr;

}

.flex-row {
    display: flex;

}

.flex-col {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 150rem;
    margin: 0 auto;
    gap: 5rem;
    padding: 6rem 0;
}
